



@font-face {
    font-family: 'swis721_th_btthin';
    src: url('swz721t_0-webfont.eot');
    src: url('swz721t_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('swz721t_0-webfont.woff') format('woff'),
         url('swz721t_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

